@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply  px-2 lg:px-5 2xl:px-10 mx-auto overflow-x-hidden;
}

.button {
	@apply bg-primary text-xs font-bold flex items-center gap-3 text-grey_light px-5 py-3 rounded-4xl -tracking-tighter uppercase;
}
.title-text {
	@apply text-white font-bold;
}
.text {
	@apply text-greyText font-normal leading-normal;
}

.vector {
	transform: rotate(-178.318deg);
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, 0.18);
	filter: blur(100px);
}
.project__card_item:hover .overlay{
    display: block !important;
	width: 100%;
}
.button_link {
	@apply text-white font-medium leading-normal text-sm px-4 bg-dark2 rounded-4xl opacity-80 border-2 border-grey hover:bg-dark transition-all ease-in duration-300;
}
/* width */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px transparent;
	border-radius: 10px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #A8A8A8;
	border-radius: 10px;
}